* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #230F12;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 2px solid;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.container-loginform-kiri {
    position: relative;
    width: 90%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #96BCB4;

    /* border: 2px solid black; */
}

.container-loginform-kanan {
    position: relative;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #BBDCD3;

    /* border: 2px solid black; */
}

.img-logo {
    position: absolute;
    width: 500px;
    height: 180px;
    bottom: 65%;
}

.input-box {
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
    z-index: 1;
    background-color: #91ACCB;

    /* border: 2px solid black; */
}

.login-form{
    position: relative;
    top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid; */
}

.register a {
    color: #4B72C2;
}

.remember-forgot a {
    color: #4B72C2;
}